<div class="spacer"></div>
<div class="container-fluid">
	<section class="row">
	  	<input class="mx-auto" type="text" autocomplete="off" id="search-box" placeholder="Search an application" />
	</section>
  <div class="hidden-sm-up row categories-select">
     <form class="mx-auto form-inline">
      <label class="filter-select" for="facetselect">Categories: </label>
      <select class="form-control" id="facetselect"> 
      </select>
    </form>
  </div>
	<div id="content">
		<div class="row">
			<div class="div-facets hidden-xs-down col-xs-12 col-sm-3">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<h3 class="title-facet">Categories </h3> 
					</div>
					<div id="reset" class="col-lg-5 text-left">
						<a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
					</div>	
				</div>
				<ul id="facet-list"></ul>
			</div>

			<div class="col-xs-12 col-sm-9">
				<div class='row align-items-center'>
					<div class='col-lg-4'>
						<div id="info-results"></div>
					</div>
					<div class="col-lg-4">
						<form class="form-inline">
							<label class="result-select" for="select-pages">Results per page</label>
					    <select class="form-control" id="select-pages">
					      <option>5</option>
					      <option>10</option>
					      <option>15</option>
					      <option>20</option>
					      <option>50</option>
					    </select>
					   </form>
						</div>
					<div class="col-lg-4 text-right">
				    <form class="form-inline">
					    <label class="filter-select" for="exampleSelect1">Sort by: </label>
					    <select class="form-control" id="exampleSelect1">
					      <option>Popularity</option>
					      <option>Most relevant</option>
					      <option>Less populare</option>
					    </select>
					   </form>
  					</div>
		    	</div>
		    <br>
		    <br>
				<div id="container" class="row"></div>
			</div>
		</div>

		<div id="pagination" class="row">
		  <nav aria-label="Page navigation example" class="mx-auto">
		    <ul class="pagination"></ul>
		  </nav>
		</div>
	</div>
</div>

