<section id="header" class="text-center row">
	<div class="col-sm-4"><h1>Big-Store</h1></div>
	<div class="col-sm-4">
		Sort by: <button class="lowest-btn btn btn-default">Lowest rank</button>
		<button class="highest-btn btn btn-default">highest rank</button>
	</div>
	<div class="col-sm-4">
		<input type="text" autocomplete="off" id="search-box" placeholder="Search an item here" />
	</div>
</section>


<section id="content" class="row">
	<div class="col-xs-12 col-sm-3">
		<ul id=facet-list></ul>
	</div>
	<div class="col-xs-12 col-sm-9">
		<div id=container class="row"></div>
	</div>
</section>

