// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require tether
//= require bootstrap
//= require_tree .
$(document).ready(function() {
  var applicationID = "<%= ENV['APPLICATION_ID'] %>";
  var apiKey = "<%= ENV['API_KEY'] %>";
  var indexName = 'big-store';
  var client = algoliasearch(applicationID, apiKey);
  window.helper = algoliasearchHelper(client, indexName, { facets: ['category'] });
  helper.search();
  helper.on('result', function(content) {
    renderFacetList(content);
    renderHits(content);
    pagination(content);
    infoResults(content);
  });

  // trigger search with the search input
  $('#search-box').on('keyup', function() {
    var currentSearchValue = $(this).val();
    helper.setQuery(currentSearchValue).search();
  });
  // handle faceting filters
  $('#facet-list').on('click', 'input[type=checkbox]', function(e) {
    var facetValue = $(this).data('facet');
    helper.toggleRefinement('category', facetValue).search();
  });
  // display apps by most relevant
   $(".relevant").on('click', function() {
    helper.setIndex('big-store').search();
  });
  //display apps by lowest ranks
  $(".lowest-btn").on('click', function() {
    helper.setIndex('big-store_rank_asc').search();
  });
  //display apps by highest ranks
  $('.highest-btn').on('click', function() {
    helper.setIndex('big-store_rank_desc').search();
  });

  //display the hits
  function renderHits(content) {
    console.log(content);
    $('#container').html(function() {
      if(content.nbHits > 0) {
        return $.map(content.hits, function(hit) {
          return renderHit(hit);
       });
      }else {
        $('.title-facet, #pagination').css('display', 'none');
        return '<div class="text-center"><h3>Sorry, no apps found :(</h3></div>';
      }
    });
  }

  // html code for a hit
  function renderHit(hit) {
    return '<div class="col-xs-12 col-sm-6 col-md-4">'+ 
    '<a href="' + hit.link + '">' + 
      '<div class="ar-1-1" style="height: 200px; margin-bottom:20px; background-image: url(\'https://placeimg.com/175/175/'+hit.name+'\'); background-size: 100%;">'+
        '<div class="filter">'+
          '<p class="title-hit text-white">'+ hit._highlightResult.name.value +'</p>'+
            '<div class="details"><span class="label font-montserrat fs-11">'+ hit.category +'</span></div>'+
            '<div class="text-white link">Buy now!</div>' +
          '</div>'+
        '</div>' +
      '</a>' +
    '</div>'
  }

  //display categories list
  function renderFacetList(content) {
    $('#facet-list').html(function() {
      return $.map(content.getFacetValues('category'), function(facet) {
        var checkbox = $('<input type=checkbox>')
          .data('facet', facet.name)
          .attr('id', 'fl-' + facet.name);
        if(facet.isRefined) checkbox.attr('checked', 'checked');
        var label = $('<label>').html(facet.name + ' (' + facet.count + ')')
          .attr('for', 'fl-' + facet.name);
        return  $('<li>').append(checkbox).append(label);
      });
    });
  }
  //display pagination
  function pagination(content) {
    var html = "";
    if(content.nbPages > 1) {
      if( content.page !== 0) {
        html += '<li class="page-item"><a class="page-link previous" href="#">Previous</a></li>';
      }
      for(var i = 1; i <= content.nbPages; i++) {
        html += '<li class="page-item"><a class="page-link numbers" href="#">' + i + '</a></li>';
      }
      if(content.page + 1 !== content.nbPages) {
        html += '<li class="page-item"><a class="page-link next" href="#">Next</a></li>';
      }
      $('.pagination').html(html);
    }
    $('.numbers').on('click', function(e) {
      e.preventDefault();
      var link = parseInt($(this).text()) - 1;
      helper.setPage(link).search();
    });
    $('.previous').on('click', function(e) {
      e.preventDefault();
      helper.previousPage().search();
    });
    $('.next').on('click', function(e) {
      e.preventDefault();
      helper.nextPage().search();
    });
  }
  //display number of results and number of ms
  function infoResults(content) {
    var html = "<p>" + content.nbHits + " results found in " + content.processingTimeMS + " ms</p>";
    $('#info-results').html(html);
  } 
});
