// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//body 
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


#content {
  padding-top: 50px;

}

// header 
#header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(230,230,230,0.7);
  z-index: 800;
  h1 {
    font-weight: bold;
    margin-left: 20px;
  }
}

// feature search box

input {
  color: black;
}

#search-box {
  width: 50%;
  border: 2px solid rgb(191, 85, 236);
  border-radius: 50px;
  box-sizing: border-box;
  color: #626262;
  font-size: 18px;
  padding: 10px 50px 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("loupe.svg") 98% / 30px no-repeat white;
}


//feature select forms categories, filters, per page

.info
.filter-select, .result-select {
  font-size: 18px;
  margin-left: 10px;
  color: #626262;
  &:hover {
    color: rgb(191, 85, 236);
  }
}


.form-control {
  color: rgb(191, 85, 236) !important;
}

#filter-select {
  width: 150px;
}

  
#select-pages, #filter-select, #facetselect {
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("arrow-select.svg") 95% / 32px no-repeat white;
}

#select-pages {
  width: 80px;
  padding: 5px 35px 5px 5px;
}

#filter-select {
  width: 160px;
  padding: 5px 50px 5px 5px;
}

#facetselect {
  width: 250px;
}

// reusable css

.pd-top-50 {
  padding-top: 50px;

}



.mr-auto {
  margin: 0 auto;
}

.fs-40 {
  font-size: 40px;
}

.fl-left {
  float: left;
}

.pd-15 {
  padding-right: 15px;
}

.pd-100 {
  padding-top: 100px;
}

.spacer {
  height: 100px;
}

//feature display info results

#info-results {
  padding-left: 20px;
}


// feature clear categories 
#reset {
  padding-left: 10px;
}


#reset, #reset-mobile {
  font-size: 20px;
  a {
    color: rgb(191, 85, 236) ;
  }
}

// feature pagination

#pagination {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagination {
  align-items: center;
  justify-content: center;
}


// dislay categories list

.div-facets {
  .title-facet {
    margin-left: 50px;
  }
}

#facet-list li {
  padding-left: 6px;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  &:hover {
    color: rgba(191, 85, 236, 0.7);
  }
}

#facet-list {
  margin: auto;
  list-style: none;
}

#facet-list li input {
  margin-right: 6px;
}

//display apps 

#container li {
  padding: 8px 0;
}

#container em {
  background: rgb(191, 85, 236);
}

#container {
  margin: auto;
  padding-top: 10px;
}

.hit {
  height: 200px;
  margin-bottom:20px;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
}

.filter {
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: transparent;
  position: relative;
  &:hover {
    .link {
      font-size: 20px;
    }
    background-color: rgba(191, 85, 236, 0.7);
  }
  .title-hit {
    font-weight: bold;
    font-size: 18px;
  }
}

.details {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
}

.page-link {
  color: rgb(191, 85, 236) !important;
}


.page-item.active .page-link {
  z-index: 2;
  background-color: rgb(191, 85, 236) !important;
  border-color: rgb(191, 85, 236) !important;
  color: white !important;
}