// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.categories-select {
  padding-top: 50px;
}

.div-facets {
  .title-facet {
    margin-left: 30px;
  }
}

.pd-15 {
  padding-right: 20px;
}

#info-results {
  padding-left: 20px;
}

.select

.info
.filter-select, .result-select {
  font-size: 18px;
  margin-left: 10px;
  color: #626262;
  &:hover {
    color: rgb(191, 85, 236);
  }
}

#reset, #reset-mobile {
  font-size: 24px;
  a {
    color: rgb(191, 85, 236) ;
  }
}

.form-control {
  color: rgb(191, 85, 236) !important;
  margin-left: 20px;
}

.padding-sections {
  padding: 20px 20px;
}

.filter {
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: transparent;
  position: relative;
  &:hover {
    .link {
      font-size: 20px;
    }
    background-color: rgba(191, 85, 236, 0.7);
  }
  .title-hit {
    font-weight: bold;
    font-size: 18px;
  }
}

.details {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
}

.spacer {
  height: 100px;
}

.items {
  background-color: #ccc;
  border: 5px solid white;
  border-radius: 10px;
}

#header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(230,230,230,0.7);
  z-index: 800;
  h1 {
    font-weight: bold;
    margin-left: 20px;
  }
}


#content {
  padding-top: 50px;

}

#pagination {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pagination {
  align-items: center;
  justify-content: center;
}

input {
  color: black;
}

#search-box {
  width: 50%;
  padding: 10px;
  border: 2px solid rgb(191, 85, 236);
  border-radius: 50px;
  box-sizing: border-box;
  color: #626262;
  font-size: 18px;
}

#select-pages {
  width: 50px;
}

#facet-list,
#container{
  margin: auto;
  list-style: none;
}

.page-link {
  color: rgb(191, 85, 236) !important;
}


.page-item.active .page-link {
  z-index: 2;
  background-color: rgb(191, 85, 236) !important;
  border-color: rgb(191, 85, 236) !important;
  color: white !important;
}

#facet-list li {
  padding-left: 6px;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  &:hover {
    color: rgba(191, 85, 236, 0.7);
  }
}
#facet-list li input {
  margin-right: 6px;
}

#container li {
  padding: 8px 0;
}

#container em {
  background: rgb(191, 85, 236);
}

#container {
  padding-top: 10px;
}

.hit {
  height: 200px;
  margin-bottom:20px;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
}
