<!DOCTYPE html>
<html>
  <head>
    <title>BigStore</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <!--  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script> -->
  </head>

  <body>
    <div id="header" class="container">
      <div class="row align-items-center">
        <div class="brand col-6">
          <a href="/"><h1>BigStore</h1></a>
        </div>
        <div class="col-6 hidden-md-up" id="reset-mobile">
          <div class="pull-right">
            <a href="#"><i class="fa fa-eraser" aria-hidden="true"></i></a>
          </div>
          
        </div>
      </div>
    </div>
   

    <div>
      <%= yield %>
    </div>

    <script src="https://cdn.jsdelivr.net/g/algoliasearch@3(algoliasearchLite.min.js),algoliasearch.helper@2"></script>
  </body>
</html>
