<!DOCTYPE html>
<html>
  <head>
    <title>BigStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
   <!--  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script> -->
  </head>

  <body>
    <div id="header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xs-6 text-left"><h1>BigStore</h1></div>
          <div class="col-xs-6 categories-select">
            <form class="form-inline">
              <label class="filter-select" for="facetselect">Sort by: </label>
              <select class="form-control" id="facetselect"> 
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
    
    
  <script src="https://cdn.jsdelivr.net/g/algoliasearch@3(algoliasearchLite.min.js),algoliasearch.helper@2"></script>
  </body>
</html>
